@font-face {
    font-family: "Bold";
    src: url(../assets/fonts/NotoSans-Bold.ttf);
    font-family: "Semi-Bold";
    src: url(../assets/fonts/NotoSans-SemiBold.ttf);
    font-family: "Regular";
    src: url(../assets/fonts/NotoSans-Regular.ttf);
}