@mixin main {
    #main {
        div {
            margin-top: 1rem*0.75;
            margin-bottom: 1rem*0.75;

            div {
                h2 {
                    color: map-get($paletaDeColores, "azul");
                }
            }
        }

        .navCarrito {
            div {
                ul {
                    li {
                        .numeroNavCarrito {
                            color: map-get($paletaDeColores, "azul") !important;
                            font-size: 1rem*3;
                            padding-right: 0%;
                        }
                    }

                    .textoNavCarrito {
                        margin-top: 1rem*1.4;
                        padding-left: 0%;

                        .nav-link {
                            color: map-get($paletaDeColores, "gris");
                            font-size: 1rem*1.1;
                            padding-left: 1rem*0.8;
                            margin-right: 1rem*1.2;
                        }

                    }

                    .opacidadNavCarrito {
                        .nav-link {
                            opacity: 40%;
                        }

                        .nav-link:focus {
                            opacity: 100%;
                        }
                    }

                }
            }
        }

        #titulosProductosNuevos {
            div {
                h4 {
                    color: map-get($paletaDeColores, "azul");
                }
            }
        }

        #productosNuevos {
            div {
                div {
                    .card {

                        div {
                            p {
                                font-size: 1rem*0.80;
                            }

                            h6 {
                                font-size: 1rem*1.05 !important;
                                color: map-get($paletaDeColores, "rojo");
                            }


                        }

                        .card-footer {
                            background-color: transparent;

                            .btn {
                                background-color: map-get($paletaDeColores, "azul");
                                color: map-get($paletaDeColores, "blanco");
                                font-size: 1rem*0.95;
                                padding: 1rem*0.5 1rem*1.5;
                            }
                        }
                    }
                }
            }
        }
    }
}