$vista: ("vistaDesktopMd": desktopMd,
    "vistaDesktopSm": desktopSm,
    "vistaTablet":tablet,
    "vistaMobile":mobile, );

$paletaDeColores: ("blanco": #FFFFFF,
    "blanco-suave": #ffffe9,
    "negro": #000000,
    "negro-suave": #091113,
    "azul":#0074bd,
    "gris":grey,
    "rojo": #d7292b);

$fuentes: ("bold": Bold,
    "semiBold": Semi-Bold,
    "regular": Regular);